.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Adjust height based on your Navbar height */
  }
  
  .title {
    font-size: 3rem;
    font-weight: bold;
  }
  