/* Mobile styles */
@media screen and (max-width: 767px) {
  /* CSS styles for mobile devices */
  .container {
    min-height: 99vh;
    min-width: 96vw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    contain: paint;
    align-items: center;
    align-self: center;
    text-align: center;
    max-width: 100vw;
  }
  .content {
    max-width: 1204px;
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
  }
  .hero {
    padding-bottom: 128px;
  }
}

/* Tablet styles */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* CSS styles for tablets */
  .container {
    min-height: 99vh;
    min-width: 96vw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    contain: paint;
    align-items: center;
    align-self: center;
    text-align: center;
    max-width: 100vw;
  }
  .content {
    max-width: 1204px;
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
  }
  .hero {
    padding-bottom: 128px;
  }
}

/* Desktop styles */
@media screen and (min-width: 1024px) {
  /* CSS styles for desktops */
  .container {
    min-height: 99vh;
    min-width: 96vw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    contain: paint;
    align-items: center;
    align-self: center;
    text-align: center;
    max-width: 100vw;
  }
  .content {
    max-width: 1204px;
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
  }
  .hero {
    padding-bottom: 128px;
  }
}

.container {
  min-height: 99vh;
  min-width: 96vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  contain: paint;
  align-items: center;
  align-self: center;
  text-align: center;
  max-width: 100vw;
}

.content {
  max-width: 1204px;
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
}

.hero {
  padding-bottom: 128px;
}

.heroBackground {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  overflow: hidden;
  min-width: 100vw;
  max-width: 100vw;
  height: clamp(1000px, calc(59.6vw + 776px), 1540px);
  pointer-events: none;
}

.heroBackgroundInner {
  position: absolute;
  top: -352px;
  left: 50%;
  width: clamp(1000px, calc(59.6vw + 776px), 1540px);
  aspect-ratio: 1/1;
  transform: translateX(-50%);
}

.gradient {
  height: 100%;
  width: 100%;
  opacity: 0.76;
}

.heroAssetFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.heroAsset {
  max-width: 100vw;
  margin-bottom: 0px;
}

.heroBodyContainer {
  width: 100%;
  padding: 0 32px;
  margin: 0 auto;
}

.heroBody {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroTitle {
  margin-top: clamp(-30px, calc(-7vw + 57px), 5px);
  margin-bottom: 20px;
  color: #fff;
  font-size: Min(12vw, 80px);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-align: center;
  overflow: visible;
  letter-spacing: -0.05em;
}

.heroTitleGradient {
  padding-right: 12px;
  font-weight: 700;
}

.heroSubtitle {
  max-width: 640px;
  margin: 0 0 40px;
  color: hsla(0, 0%, 100%, 0.4);
  font-size: Min(3.8vw, 20px);
  letter-spacing: 0.3px;
  line-height: 140%;
  text-align: center;
  transform: translateY(5px);
}

.heroCtaContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.codeButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 560px;
  max-width: 100%;
  height: 48px;
  font-family: "Fira Code", monospace;
  font-size: 16px;
  background-color: transparent;
  border: 2px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 8px;
  transition: background-color 0.2s;
}

/* Place a $  before the code button text */
.codeButton::before {
  content: "$ ";
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 20px;
  margin-right: 8px;
}

.codeButton:hover {
  cursor: pointer;
  background-color: hsla(0, 0%, 100%, 0.1);
}

.codeButtonCopy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  font-family: "Fira Code", monospace;
  font-size: 16px;
  background-color: transparent;
  border: none;
  opacity: 0.9;
}

.heroCta {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 12px 40px;
  border: 3px solid hsla(0, 0%, 100%, 0.1);
  margin: 16px 0;
  background-clip: padding-box;
  background-color: hsla(0, 0%, 100%, 0.9);
  border-radius: 8px;
  color: #0d0d0d;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 20px;
  transition: opacity 0.2s;
  width: 280px;
}

.heroCta::before {
  position: absolute;
  z-index: -1;
  top: 5px;
  right: 5px;
  bottom: 0;
  left: 5px;
  background: conic-gradient(
    from 147.14deg at 50% 50%,
    var(--color-primary) -55.68deg,
    var(--color-secondary) 113.23deg,
    var(--color-tertiary) 195deg,
    var(--color-quaternary) 304.32deg,
    var(--color-primary) 473.23deg
  );
  border-radius: 6px;
  content: "";
  filter: blur(20px);
  opacity: 0.6;
}

.heroCta:hover {
  cursor: pointer;
  opacity: 0.7;
}

.secondaryCta {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 20px;
  transition: background-color 0.2s;
  width: 280px;
  border: 1px solid hsla(0, 0%, 100%, 0.25);
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: all 0.15s ease-in-out;
}

.secondaryCta:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.tabs {
  margin-top: 2em;
  margin-bottom: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.tab {
  font-weight: 600;
  cursor: pointer;
  padding: 0.5em 0.75em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  background-color: transparent;
  transition: all 0.15s ease-in-out;
  width: 20%;
  height: 100%;
  min-height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.activeTab {
  background-color: rgba(255, 255, 255, 0.1);
}

.tab:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.tabContent {
  transition: all 0.5s ease-in-out;
}

.transition {
  opacity: 0;
  transform: scale(0.9);
}

.link {
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  font-weight: 600;
}

.link:hover {
  text-decoration: underline;
}

.code {
  background-color: #0d0d18;
  color: white;
  padding: 8px 4px;
  border-radius: 8px;
}

.list {
  margin-top: 1em;
  font-size: 1em;
  line-height: 1.5;
}

.list li {
  margin-bottom: 1em;
}

/* Screens smaller than 750px */
@media (max-width: 750px) {
  .tabs {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .tab {
    width: 100%;
  }
}

/* Less than 640 px */
@media (max-width: 640px) {
  .gradient {
    margin-top: 100px;
  }

  .heroTitle {
    margin-top: -48px;
    font-size: 38px;
  }

  .heroCtaContainer {
    flex-direction: column;
    gap: 0px;
  }

  .heroAsset {
    max-height: 270px;
  }
}

/* Above 640 and less than 960 */
@media (min-width: 640px) and (max-width: 960px) {
  .gradient {
    margin-top: 1px;
  }

  .heroTitle {
    margin-top: -32px;
    font-size: 60px;
  }

  .heroAsset {
    max-height: 540px;
  }
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.galleryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ffffff; /* Add this line for the border */
  padding: 1rem; /* Add some padding around the content */
  border-radius: 8px; /* Add border-radius for rounded corners */
}

.title {
  text-align: center;
  margin-top: 0.5rem;
}

.description {
  text-align: center;
  margin-top: 0.5rem;
  max-width: 90%; /* Add this line to limit the description width */
  word-wrap: break-word; /* Add this line to wrap the text */
}

.price {
  text-align: center;
  margin-top: 0.5rem;
}

.attributes {
  list-style-type: none;
  padding: 0;
  margin-top: 0.5rem;
}

.attribute {
  text-align: left;
}

.attributeKey {
  font-weight: bold;
}

.attributeValue {
  font-weight: normal;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto; /* Center the content */
  max-width: 1200px; /* Adjust the max-width value to fit your desired container width */
}
.toprow {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.bottomrow {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

/* Apply custom styles to the last column in the row */
.column:last-child {
  margin-bottom: 0;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col_md_6 {
  flex: 0 0 50%; /* Update the flex value to occupy 50% of the row's width */
  max-width: 50%; /* Update the max-width to occupy 50% of the row's width */
}

.column_border {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.bulletList {
  text-align: left;
}

.customList li {
  font-size: 20px; /* Adjust this value to increase or decrease the font size */
}
.pulsatingTitle {
  animation: pulsate 4s infinite;
  font-size: 78px;
}
.betaText {
  font-size: 0.2em; /* Adjust to suit your design */
  color: green; /* Adjust color to suit your design */
  vertical-align: super; /* This isn't strictly necessary as <sup> defaults to this */
}
.subText {
  font-size: 0.6em; /* Adjust to suit your design */
  color: green; /* Adjust color to suit your design */
  vertical-align: sub; /* This isn't strictly necessary as <sup> defaults to this */
}
.box {
  width: 50%; /* Occupy 50% of the parent container's width */
  margin: 1em; /* Use relative margin */
  font-size: 1.2rem; /* Use relative font size */
}
